body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    height: 100%;
    color: #fff;
}


img {
    max-width: 100%;
    display: block;
}


section {
    padding: 50px, 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-toggler {
    color: #fff;
}

.calc {
    background-color: #64D0B1;
    border-radius: 10px;
}

.cont {
    background-color: #4E5174;
    border-radius: 10px;
    width: 50%;
}

#calculator {
    background-color: #525174; 
    border-radius: 10px;
    width: 50%;
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#divmore {
    display: none;
    animation: fade .9s ease;
}

@media (min-width: 375px) {
    #logo {
        margin-left: 8%;
    }

    #carouselExampleIndicators {
        margin-top: 10%;
    }

    .resp {
        margin-top: 20%;
    }
}

@media (max-width: 500px) {
    .cont {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card {
        margin-left: 15%;
        width: 70%;
    }

    #logo {
        margin-left: 7%;
    }

    #blocks {
        margin-top: 5%;
    }
}

@media (min-width: 819px) {
    .resp {
        margin-top: 0%;
    }
}

@media (max-width: 819px) {
    #fonimg {
        display: none;
    }

    #blocks {
        margin-top: 30%;
    }

    #calculator {
        width: 100%;
    }

    .res {
        width: 115%;
    }
}

@media (min-width: 900px) {
    #carouselExampleIndicators {
        margin-top: 0%;
    }
}


@media (min-width: 992px) {
    .card {
        width: 30%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .row {
        margin-left: 3%;
    }

    #blocks {
        margin-top: 5%;
    }

    #logo {
        margin-left: 0%;
    }
}